
﻿.crop {
    width: 200px;
    height: 180px;
    overflow: hidden;
﻿
.searchrow {
    margin-right: 2%;
    width: 49%;
    float: left;
}
.lightview {
    border-bottom-left-radius: 10px;
    position: fixed;
    right: 30px;
    width:300px;
    width: 49%;
    float: left;
}
