<div class="container">
        <div class="row">
            <div class="col pt-4">
                <h3 data-bind="text : movie().originalTitle"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img data-bind="attr:{src: OMDB().urlToPoster}">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <p data-bind="text: OMDB().plot"></p>
                    </div>
                </div>
                <div class="row" data-bind="visible: $root.isLoggedIn()">
                    <div class="col stars mb-1">
                        <span class="fa fa-star" id="star_1" data-bind="css: { checked_stars: rating() >= 1 }, click: function(){rate(1)}"></span>
                        <span class="fa fa-star" id="star_2" data-bind="css: { checked_stars: rating() >= 2 }, click: function(){rate(2)}"></span>
                        <span class="fa fa-star" id="star_3" data-bind="css: { checked_stars: rating() >= 3 }, click: function(){rate(3)}"></span>
                        <span class="fa fa-star" id="star_4" data-bind="css: { checked_stars: rating() >= 4 }, click: function(){rate(4)}"></span>
                        <span class="fa fa-star" id="star_5" data-bind="css: { checked_stars: rating() >= 5 }, click: function(){rate(5)}"></span>
                        <span class="fa fa-star" id="star_6" data-bind="css: { checked_stars: rating() >= 6 }, click: function(){rate(6)}"></span>
                        <span class="fa fa-star" id="star_7" data-bind="css: { checked_stars: rating() >= 7 }, click: function(){rate(7)}"></span>
                        <span class="fa fa-star" id="star_8" data-bind="css: { checked_stars: rating() >= 8 }, click: function(){rate(8)}"></span>
                        <span class="fa fa-star" id="star_9" data-bind="css: { checked_stars: rating() >= 9 }, click: function(){rate(9)}"></span>
                        <span class="fa fa-star" id="star_10" data-bind="css: { checked_stars: rating() >= 10 }, click: function(){rate(10)}"></span>

                    </div>
                </div>
                <div class="row" data-bind="hidden: $root.isLoggedIn()">
                    <div class="col stars mb-1">
                        <span class="fa fa-star" id="star_1" data-bind="css: { checked_stars: rating() >= 1 }"></span>
                        <span class="fa fa-star" id="star_2" data-bind="css: { checked_stars: rating() >= 2 }"></span>
                        <span class="fa fa-star" id="star_3" data-bind="css: { checked_stars: rating() >= 3 }"></span>
                        <span class="fa fa-star" id="star_4" data-bind="css: { checked_stars: rating() >= 4 }"></span>
                        <span class="fa fa-star" id="star_5" data-bind="css: { checked_stars: rating() >= 5 }"></span>
                        <span class="fa fa-star" id="star_6" data-bind="css: { checked_stars: rating() >= 6 }"></span>
                        <span class="fa fa-star" id="star_7" data-bind="css: { checked_stars: rating() >= 7 }"></span>
                        <span class="fa fa-star" id="star_8" data-bind="css: { checked_stars: rating() >= 8 }"></span>
                        <span class="fa fa-star" id="star_9" data-bind="css: { checked_stars: rating() >= 9 }"></span>
                        <span class="fa fa-star" id="star_10" data-bind="css: { checked_stars: rating() >= 10 }"></span>

                    </div>
                </div>
                <div class="row" data-bind="visible: $root.isLoggedIn()">
                    <div class="col" data-bind="visible: myRating()">
                        <i>Your rating <span data-bind="text : myRating()"></span>.</i>
                    </div>
                </div>

                <div class="row mt-2" data-bind="visible: $root.isLoggedIn()">
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bind="hidden: isFav(), click: function(){addMovieFav()}"><i class="fal fa-plus-square"></i> Add to Favorite</button>
                        <button type="button" class="btn btn-primary" data-bind="visible: isFav(), click: function(){removeMovieFav()}"><i class="fal fa-plus-square"></i> Remove from Favorite</button>

                        <button type="button" class="btn btn-primary" data-bind="hidden: isBookmark(), click: function(){addMovieBookmark()}"><i class="fal fa-plus-square"></i> Add to Bookmark</button>
                        <button type="button" class="btn btn-primary" data-bind="visible: isBookmark(), click: function(){removeMovieBookmark()}"><i class="fal fa-plus-square"></i> Remove from Bookmark</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col">
                <div class="row">
                    <h3>Starring</h3>
                </div>
                <div class="row">
                    <div data-bind="foreach: actors">
                        <span class="badge badge-primary"><span data-bind="text: name"></span> as <span data-bind="text: characters"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <h3>Similar Movies</h3>
                </div>
                <div class="row" data-bind="foreach: similarmovies">
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="height: 476px;" data-bind="visible: poster != 'N/A', attr:{src: poster}">
                            <img class="card-img-top" data-bind="visible: poster == 'N/A'" src="../../../image/noposter.jpg">
                            <div class="card-body">
                                <h5 class="card-title" data-bind="text: title"></h5>
                                <a class="btn btn-primary" data-bind="click: function() { $root.changeContent('titlescreen', id) }">Details</a>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
        </div>


