
﻿<div class="container">
    <h3 class="p-4">Popular Movies</h3>
    <div class="row" data-bind="foreach: popularMovies">
        <div class="col-md-4  pt-4" >
            <div class="card" style="width: 18rem;">
                <img class="card-img-top crop" data-bind="attr:{src: poster}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="height: 50px;" data-bind="text: title"></h5>
                    <p class="card-text">Rating: <span data-bind="text: rating"></span> <br/> Votes: <span data-bind="text: numOfVotes"></span></p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

