<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">The only movie world you will ever need</h1>
        <p class="lead">Welcome to the Movie World. This is the place where you keep your favourite movies, actors and directors in your list.</p>
    </div>
</div>
<div class="container">
    <h3 >Popular Movies</h3>
    <div class="row" data-bind="foreach: popularMovies">
        <div class="movie_card col-md-3 col-sm-4 col-xs-6">
            <a data-bind="click: function() { $root.changeContent('titlescreen', id) }">
                <figure class="figure">
                    <img class="movie_poster" data-bind="attr:{src: poster}" alt="Card image cap">
                    <figcaption class="figure-caption">
                        <i class="far fa-star"></i> Rating: <p data-bind="text: rating"></p>

                        <i class="fas fa-thumbs-up"></i> Votes: <p data-bind="text: numVotes"></p>
                    </figcaption>
                </figure>

                <h5 class="movie_title" data-bind="text: title"></h5>
            </a>

        </div>
    </div>
</div>

