

﻿<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Search</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search results</li>
                </ol>
                <h3>We've found <span data-bind="text: movies().length"></span> search results.</h3>
            </nav>
        </div>
    </div>

    <div class="searchrow">
        <div class="list-group" data-bind="foreach: movies">
            <a href="" class="list-group-item list-group-item-action"
               data-bind="text: title,
               click: function() { $root.changeContent('titlescreen', id) },
               event: { mouseover: function() {$root.changeQuickComponent('lightview', id) }  }">
            </a>
        </div>
    </div>
    <div class="lightview " data-bind="component: {name: $root.quickComponent, params: $root.quickComponentParams}"></div>
</div>

