

﻿<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item"><a>My Bookmark</a></li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <ul class="list-group" data-bind="foreach: movies">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div data-bind="text: movie.primaryTitle, click: function() { $root.changeContent('titlescreen', movieId) }"></div>
                    <button type="button" class="btn btn-danger" data-bind="click: function(){$parent.remove(movieId)}">Remove</button>
                </li>
            </ul>
        </div>
    </div>
</div>
